name: tests
on:
  push:
    branches-ignore: [main]
  workflow_dispatch:

jobs:
  unit-tests:
    strategy:
      matrix:
        node_version: [lts/-1, lts/*, latest]
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
      - name: Install fpcalc
        run: sudo apt-get update && sudo apt-get install -y libchromaprint-tools
      - run: npm install
      - run: npm run build
      - run: npm run test
